<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Strength Analysis</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>


    <h3 class="text-center" style="padding:15px">CHECK YOUR PASSWORD STRENGTH</h3>
    
        <div class="col-md-8" style="text-align:center;margin: 0 auto;">
            <form method="POST">
                <input type="text" class="form-control" placeholder="Enter Password" name="password" value="{{ request.form.password }}"
                    required><br>
                <div class="button-group">
                    <button type="submit" name="submit" class="btn btn-primary">Check</button>
                </div>
            </form>
        </div>
    


    
        <div class="col-md-8" style="margin: 0 auto; margin-top:25px;">
            <table class="table table-bordered" bordercolor="black">
                <thead>
                    <tr>
                        <th scope="col">STRENGTH</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% if (DecisionTree == 0) %}
                        <tr style="background-color: #ec4848;">
                            <td>Weak</td>
                        </tr>
                    {% endif %}
                    {% if (DecisionTree == 1) %}
                        <tr style="background-color: #a11fed;">
                            <td>Medium</td>
                        </tr>
                    {% endif %}
                    {% if (DecisionTree == 2) %}
                        <tr style="background-color: #53d653;">
                            <td>Strong</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>

</html>