@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  background-image: url("https://img.freepik.com/free-vector/hospital-building-healthcare-cartoon-background-vector-illustration-with-ambulance-car-doctor-patient-nurses-medical-clinic-exterior_2175-1511.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-position: fixed;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  height: fit-content;
  padding: 50px 80px;
  margin: 50px;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}

#description {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.inputwrap {
  margin: 10px 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.mt8 {
  margin-top: 8px;
}

input,
select {
  padding: 15px;
  font-size: 0.9rem;
}

.bold {
  font-weight: 600;
  font-size: 1.1rem;
}

textarea {
  width: 100%;
}

button {
  margin-top: 50px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: black;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
#title {
  font-size: bold;
}
