<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Year Project Report</title>
    <style>
        body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('https://source.unsplash.com//Wb63zqJ5gnE') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

h2 {text-align: center;color:white;}
    </style>
</head>
<body>
    <H2>Final Year Project Report</H2> 
    <center><embed src= "{{ url_for('static', filename=report) }}" width= "500" height= "650"></center>
</body>
</html>