<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Automating the examination system</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/star-style.css">
    <link rel="stylesheet" type="text/css" href="../static/form-static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/form-static/css/main.css">
</head>
<!-- Body content -->
<body>
    <div class="clouds">
    <div class="row"></div>
    <div class="row">
        <div class="content">
            <center>
                <h1 class="tagline">AI-QUESTION-GENERATION-AND-EVALUATION-SYSTEM</h1>
            </center>
        </div>
    </div>
    <center>
        <div class="row2">
            <form class="contact1-form validate-form" action="/form" method="POST" enctype="multipart/form-data">
                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input  autocomplete="off" class="input1" type="text" name="username" id="username" placeholder="Your Name Here!">
                    <span class="shadow-input1"></span>
                </div>
                <div class="container-contact1-form-btn">
                    <button class="contact1-form-btn">
                        <span>Start<i class="" aria-hidden="true"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </center>
    </div>
</body>
</html>

    <!-- JavaScript -->
    <script >
	    $('.js-tilt').tilt({
		    scale: 1.1
	    })
    
    function formHandler(){
        // event handler to handle the name field
        var nameField = document.getElementById("username");
        nameField.onfocus = function(){
            if(nameField.placeholder == "Your Name"){
                nameField.placeholder = "";
            }
        };
        nameField.onblur = function(){
            if(nameField.placeholder == ""){
                nameField.placeholder = "Your Name";
            }
        };
    }
    // call fucntion after the window has loaded
    window.onload = function(){
        formHandler();
    }
    </script>