<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/result.css') }}"
    />
    <title>Heart Disease Predictor</title>
  </head>
  <body>
    <!-- Please take a look at this video! https://www.youtube.com/watch?v=M7MuHxHI8Xc -->
    <div class="card">
      <img
        src="https://kims-app-server.s3.ap-south-1.amazonaws.com/images/blogs/329_1571993404.jpg"
        alt="Image"
      />
      <div class="details">
        <h2>Name</h2>
        <p>email</p>
      </div>
      <p id="info">Result: High</p>
    </div>
  </body>
</html>
